<div class="app__container" fxLayout="column"
  [ngClass]="{'dark-theme': (themeService.theme$ | async) === Theme.DARK }"
>

    <app-nav-toolbar></app-nav-toolbar>

    <mat-sidenav-container fxFlex="grow" fxLayout="column">

        <mat-sidenav-content>
            <div class="content" fxFlex="grow" fxLayout="row" fxLayoutAlign="center">
                <div [fxFlex]="70" fxLayout="column" fxLayoutAlign="center">
                    <div fxFlex="90">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </mat-sidenav-content>

    </mat-sidenav-container>

    <app-footer></app-footer>

</div>
