p,
h1 {
  color: rgba(41, 41, 41, 1);
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.003em;
  margin-bottom: -0.46em;
  word-break: break-word;
}

p {
  font-size: 21px;
  line-height: 32px;
  margin-top: 2em;
}

h1 {
  font-size: 40px;
  line-height: 48px;
  margin-top: 1em;
}

article {
  margin: 0 64px;
  max-width: 680px;
}
