.rotate-0 {
  transform: rotate(0deg);
}

.rotate-90 {
  transform: rotate(90deg);
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-270 {
  transform: rotate(270deg);
}

.-translate-x-3\/2 {
  transform: translate(-150%);
}

.w-126 {
  width: 32rem;
}

.w-256 {
  width: 64rem;
}
