@import '@angular/material/theming';
@import 'scss/custom-colors';

// Default Theme
// $reed-primary: mat-palette($mat-indigo);
// $reed-accent:  mat-palette($mat-pink, A200, A100, A400);
// $reed-warn:    mat-palette($mat-red);

$reed-primary: mat-palette($custom-purple);
$reed-accent: mat-palette($custom-yellow, A200, A100, A400);
$reed-warn: mat-palette($custom-red);

$reed-theme: mat-light-theme($reed-primary, $reed-accent, $reed-warn);

// Dark Theme
// $dark-primary:     mat-palette($mat-blue-grey);
// $dark-accent:      mat-palette($mat-amber, A200, A100, A400);
// $dark-warn:        mat-palette($mat-deep-orange);

$dark-primary: mat-palette($custom-purple);
$dark-accent: mat-palette($custom-yellow, A200, A100, A400);
$dark-warn: mat-palette($custom-red);

$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
