@import '~@angular/material/theming';
@import '~src/scss/custom-colors';

// Default Theme
// $candy-app-primary: mat-palette($mat-indigo);
// $candy-app-accent:  mat-palette($mat-pink, A200, A100, A400);
// $candy-app-warn:    mat-palette($mat-red);

$candy-app-primary:     mat-palette($custom-purple);
$candy-app-accent:      mat-palette($custom-yellow, A200, A100, A400);
$candy-app-warn:        mat-palette($custom-red);

$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Dark Theme
// $dark-primary:     mat-palette($mat-blue-grey);
// $dark-accent:      mat-palette($mat-amber, A200, A100, A400);
// $dark-warn:        mat-palette($mat-deep-orange);

$dark-primary:     mat-palette($custom-purple);
$dark-accent:      mat-palette($custom-yellow, A200, A100, A400);
$dark-warn:        mat-palette($custom-red);

$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
