<form class="flex flex-col h-full border p-4" [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
  <div class="flex justify-center h-10 leading-10">
    <div class="flex">
      <mat-icon class="block text-4xl -translate-x-3/2 translate-y-1/2" aria-hidden="true" color="primary"
        >whatshot</mat-icon
      >
      Login
    </div>
  </div>

  <div class="flex flex-col items-center justify-center h-64 sm:h40">
    <mat-form-field class="w-3/4 my-3">
      <input matInput placeholder="Email" type="text" formControlName="email" />
    </mat-form-field>

    <mat-form-field class="w-3/4 my-3">
      <input matInput placeholder="Password" [type]="hidePassword ? 'password' : 'text'" formControlName="password" />
      <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{
        hidePassword ? 'visibility_off' : 'visibility'
      }}</mat-icon>
    </mat-form-field>
  </div>

  <div class="flex flex-col items-center justify-center">
    <div class="py-3 sm:h-24 flex items-center">
      <button class="login-button" mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">
        Login
      </button>
    </div>

    <mat-spinner [style.visibility]="(authLoading$ | async) ? 'visible' : 'hidden'" [diameter]="40"></mat-spinner>
    <mat-divider class="w-full"></mat-divider>

    <div class="py-3 sm:h-16 flex items-center">
      <button class="go-to-sign-up-button" mat-raised-button color="basic" type="button" (click)="goToSignUp()">
        Don't have an account yet ? Create one !
      </button>
    </div>
  </div>
</form>
