<mat-toolbar color="primary" class="flex justify-center">

  <button *ngIf="pageTitle$ | async" class="px-2" mat-button>{{ pageTitle$ | async }}</button>

  <div class="flex-grow"></div>

  <ng-template [ngIf]="isUserConnected$ | async">
    <button class="connected-user-name" mat-button>{{ connectedUserName$ | async }}</button>
    <button class="px-2" mat-icon-button routerLink="/profile" routerLinkActive="active" matTooltip="Profile">
      <mat-icon>account_circle</mat-icon>
    </button>

    <button
      class="disconnect px-2"
      (click)="logout()"
      mat-icon-button
      [routerLink]="AuthRoute.LOGIN"
      routerLinkActive="active"
      matTooltip="Disconnect"
    >
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </ng-template>
</mat-toolbar>
