<mat-toolbar color="primary" class="flex justify-center">
  <button class="px-2" mat-icon-button routerLink="/home" routerLinkActive="active" matTooltip="Home">
    <mat-icon aria-hidden="true" color="secondary">whatshot</mat-icon>
  </button>

  <button class="connected-user-name px-2" mat-button>{{ connectedUserName$ | async }}</button>

  <div class="flex-grow"></div>

  <ng-template [ngIf]="isUserConnected$ | async">
    <button class="px-2" mat-icon-button routerLink="/profile" routerLinkActive="active" matTooltip="Profile">
      <mat-icon>account_circle</mat-icon>
    </button>

    <button
      class="disconnect px-2"
      (click)="logout()"
      mat-icon-button
      routerLink="/login"
      routerLinkActive="active"
      matTooltip="Disconnect"
    >
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </ng-template>
</mat-toolbar>
