@import 'scss/mixins/multi-line-ellipsis';

$cover-width: 100px;
$cover-height-to-width-ratio: 1.4;
$material-card-title-margin: 16px;

.book {
  &__title {
    @include multi-line-ellipsis(2);
  }

  &__body {
    margin: 0 $material-card-title-margin;

    &__cover {
      width: $cover-width;
      height: $cover-width * $cover-height-to-width-ratio;
    }

    &__summary {
      width: calc(100% - #{$cover-width});
    }
  }
}
