
<!-- <mv-checkbox id="options-existing-checkbox"
    label="Mettre à jour les {{ selectedExistingCheckbox.label }}"
    checked="{{ selectedExistingCheckbox.value }}"
    (checkbox-toggled)="selectedExistingCheckbox.value = $event.detail.checked"
>
</mv-checkbox> -->

Checkbox Value : {{ checkboxValue }}
<br />

<button
    (click)="checkboxValue = !checkboxValue"
>Toggle Checkbox
</button>

<br />

<mv-checkbox
    id="test-checkbox"
    label="Ceci est une checkbox"
    checked="false"
    [isChecked]="checkboxValue"
    (checkbox-toggled)="checkboxValue = $event.detail.checked"
>
</mv-checkbox>

Checkbox Value : {{ checkboxValue2 }}
<br />

<button
    (click)="checkboxValue2 = !checkboxValue2"
>Toggle Checkbox
</button>

<br />

<mv-checkbox
    id="test-checkbox"
    label="Ceci est une checkbox"
    checked="true"
    [isChecked]="checkboxValue2"
    (checkbox-toggled)="checkboxValue2 = $event.detail.checked"
>
</mv-checkbox>
